* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Page One Styling */
.page-1 {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to left, #fff 50%, #1f75ff 50%);
}

nav {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

nav ul {
  display: flex;
  gap: 1.5rem;
}

ul li {
  list-style: none;
}

li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #1f75ff;
  padding: 0 10px;
  position: relative;
}

.logo a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
}

.logo a:hover {
  color: orange;
}

ul li a::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0%;
  background-color: #1f75ff;
  bottom: -10px;
  left: 0;
  transition: 0.4s;
}

ul li a:hover {
  color: black;
}

ul li a:hover::after {
  width: 100%;
}

#menu {
  display: none;
}

main {
  display: flex;
}

.right {
  height: calc(100vh - 75px);
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shape {
  height: 425px;
  width: 425px;
  background-color: #1f75ff;
  border-radius: 60% 40% 30% 70% / 50% 60% 40% 50%;
  box-shadow: 8px 6px 0px black;
  position: relative;
  overflow: hidden;
}

.shape img {
  position: absolute;
  top: -150px;
  right: 20px;
  height: 600px;
  width: auto;
}

.shape:hover {
  border-radius: 70% 30% 40% 60% / 50% 40% 60% 50%;
  transition: all;
  transition-duration: 0.5s;
  transition-delay: 0.1s;
  transition-timing-function: ease;
  background-color: orange;
}

.left {
  height: calc(100vh - 75px);
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  justify-content: center;
  gap: 3rem;
}

.left h1 {
  font-size: 2.8rem;
  color: #fff;
}

.left h1 span {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  -webkit-text-stroke: 1px black;
  color: transparent;
  position: relative;
  transition: 0.2s;
}

.left h1 span::before {
  content: "";
  left: -8px;
  position: absolute;
  background-color: orange;
  height: 100%;
  width: 1%;
}

.left h1 span:hover {
  color: orange;
}

.left h1 span:hover::before {
  height: 100%;
  width: 100%;
  background: transparent;
}

.left h1 span:hover::after {
  content: "";
  right: -8px;
  position: absolute;
  height: 100%;
  width: 1%;
  background-color: orange;
}

.left h2 {
  color: orange;
  font-size: 2rem;
  -webkit-text-stroke: 0.5px black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.btns {
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.btn {
  padding: 12px 40px;
  font-size: 1.1rem;
  background-color: white;
  color: black;
  position: relative;
  z-index: 10;
}

.btn::before {
  content: "";
  left: 50%;
  bottom: 0px;
  position: absolute;
  height: 100%;
  width: 0;
  background-color: orange;
}

.btn::after {
  content: "";
  right: 50%;
  bottom: 0px;
  position: absolute;
  height: 100%;
  width: 0;

  background-color: orange;
}

.btn:hover::before {
  width: 50%;
  z-index: -1;
  transition: 0.5s;
}

.btn:hover::after {
  width: 50%;
  z-index: -1;
  transition: 0.5s;
}

.menu-list {
  display: none;
}

/* Page Two Styling */

.page-2 {
  height: 100vh;
  width: 100vw;
  background-color: #1f75ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.page-2 h1 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 2px 2px 5px black;
  letter-spacing: 0.5rem;
}

.page-2 h1:hover {
  color: orange;
}

.page2 main {
  display: flex;
}

.page2-left {
  height: 85vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.page2-right {
  height: 85vh;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page2-right img {
  height: 72%;
  width: 60%;
  border-radius: 50%;
  box-shadow: 2px 2px 8px orange;
}

.page2-left .para1 {
  height: 40%;
  width: 80%;
  background-color: #ffffff87;
  backdrop-filter: blur(10px);
  color: #fff;
  font-size: 1.5rem;
  text-align: justify;
  padding: 1rem;
  border-radius: 1.5rem;
}

.page2-left .para2 {
  height: 20%;
  width: 80%;
  background-color: #ffffff7c;
  backdrop-filter: blur(10px);
  color: #fff;
  font-size: 1.5rem;
  text-align: justify;
  padding: 1rem;
  border-radius: 1.5rem;
}

.page2-left .para1:hover {
  background-color: rgba(255, 166, 0, 0.722);
  color: black;
}

.page2-left .para2:hover {
  background-color: rgba(255, 166, 0, 0.722);
  color: black;
}


/* Page Three styling */

.page-3 {
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}

.page-3 h1 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #1f75ff;
  text-shadow: 2px 2px 5px orange;
  letter-spacing: 0.5rem;
  position: relative;
}

.page-3 h1:hover {
  color: orange;
  text-shadow: 2px 2px 5px black;
}

.page-3 h1::after {
  position: absolute;
  content: "";
  height: 5px;
  width: 100%;
  background-color: red;
  bottom: -30px;
  left: 0;
}

.timeline {
  height: 85vh;
  width: 80vw;
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.timeline-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  --top-offset: 100px;
}

.timeline-content::after {
  position: absolute;
  content: "";
  height: 82vh;
  width: 5px;
  background-color: red;
  right: 0;
}

.timeline-content::before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: black;
  z-index: 99;
  top: var(--top-offset);
}

.education-box {
  height: 180px;
  width: 400px;
  color: #fff;
  backdrop-filter: blur(10px);
  background-color: #1f75ff;
  box-shadow: 2px 2px 5px black;
  margin: 20px;
  padding: 1.5rem;
  border-radius: 28px;
}

.education-box h3 {
  font-size: 1.5rem;
}

.first {
  position: absolute;
  top: 0;
  right: 0;
}

.second {
  position: absolute;
  left: 0;
}

.third {
  position: absolute;
  bottom: 0;
  right: 0;
}


/* Page Four Stylings */
.page-4 {
  height: 70vh;
  width: 100vw;
  background-color: #1f75ff;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-4 h1 {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 2rem;
  color: #fff;
  text-shadow: 2px 2px 5px black;
}

.page-4 h1:hover {
  color: orange;
}

.skills-container {
  margin-top: 2rem;
  height: 80vh;
  width: 80vw;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  align-content: center;
}

.skills-box {
  height: 80px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  background-color: #ffffff87;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 20%;
  box-shadow: 2px 2px 5px black;
}

.skills-box:hover {
  background-color: orange;
  color: black;
  transition: all;
  transition-duration: 0.5s;
  scale: 1.1;
}



.page-5 {
  height: 100vh;
  width: 100vw;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-5 h1 {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 2rem;
  color: #1f75ff;
  text-shadow: 2px 2px 5px orange;
}

.page-5 h1:hover {
  color: orange;
  text-shadow: 2px 2px 5px black;

}

.project-container {
  height: 80vh;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
  flex-wrap: wrap;
  align-content: center;
}

.card {
  height: 520px;
  width: 400px;
  background-color: #1f75ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.card:hover {
  scale: 1.02;
  box-shadow: 2px 2px 8px black;
  transition: all;
  transition-duration: 0.5s;
}

.card img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.details {
  padding: 5px;
  width: 80%;
  color: #fff;
}

.details h3 {
  color: #fff;
  margin-bottom: 0.5rem;
}

.details li {
  list-style: disc;
  overflow-wrap: break-word;
}

.sub-details {
  padding: 0 15px 0 15px;
  color: #fff;
  position: absolute;
  bottom: 20px;
}


.page-6 {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, #fff 50%, #1f75ff 50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.left-side {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.left-side h1 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: #1f75ff;
  text-shadow: 2px 2px 5px orange;
}

.left-side h1:hover {
  color: orange;
  text-shadow: 2px 2px 5px black;
}

.left-side img {
  height: 500px;
  width: 650px;
}

.right-side {
  height: 100%;
  width: 50%;
  display: flex;

}

.right-side form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.input-fields input {
  height: 40px;
  width: 450px;
  font-size: 1.1rem;
  padding: 0 0 0 2.4rem;
  position: relative;
}

.input-fields i {
  font-size: 1.3rem;
  position: relative;
  top: 0;
  left: 2rem;
  z-index: 999;
}

.input-fields textarea {
  margin-left: 2rem;
  width: 450px;
  resize: vertical;
  padding: 1rem 0 0 2.4rem;
  font-size: 1.1rem;
}

.contact-btn {
  height: 40px;
  width: 450px;
  margin-left: 2rem;
  font-size: 1.1rem;
  background-color: #fff;
  color: black;
}

.contact-btn:hover {
  background-color: orange;
  color: #fff;
  transition: all;
  transition-duration: 0.3s;
}

.page-7{
  height: 15vh;
  width: 100vw;
  background-color: #000000c1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.social-links{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 1.8rem;
  background-color: #1f75ff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.social-links:hover{
  background-color: orange;
  color: black;
  scale: 1.1;
}